:root {
    /* Colors */
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

    /* Font */
    --Main-font: "Outfit", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--Main-font);
    font-size: 1.5rem;
    background-color: var(--Light-gray);
}

img {
    max-width: 100%;
}

/* utilities */
.center-text {
    text-align: center;
}

.container {
    max-width: 30rem;
    width: 90%;
    margin: 20rem auto;
}

.principal-container {
    background-color: var(--White);
    padding: 2rem;
    border-radius: 1rem;
}

.principal-container--image img {
    border-radius: 1rem;
}

.principal-container--title {
    color: var(--Dark-blue);
}

.principal-container--text {
    color: var(--Grayish-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}